$background-dark: #17171C;
$dark-low: #2E2F38;
$dark-med: #4E505F;

$background-light: #F1F2F3;
$light-low: #ffff;
$light-med: #D2D3DA;

$accent-blue: #4B5EFC;
$accent-grey: #D9D9D9;
$accent-tangerine: #CF9B4C;