@import './_variables';

#button-container {
  border: 0;
  cursor: pointer;
  border-radius: 24px;
  transition: 
    background-color .3s ease-in-out,
    color .3s ease-in-out;

  h2 {
    margin: 0;
    font-size: 32px;
    font-weight: 400;
  }

  &.grey {
    color: white;
    background-color: $dark-med;
  }

  &.dark--grey {
    color: white;
    background-color: $dark-low;
  }

  &.light--grey {
    color: black;
    background-color: $light-med;
  }
  
  &.white {
    color: black;
    background-color: $light-low;
  }

  &.blue {
    color: white;
    background-color: $accent-blue;
  }
  
}

#icon-container {
  path {
    transition: fill .3s ease-in-out;
  }
}