@import './variables';

#theme-switch {
    $slider-width: 64px;
    $thumb-diameter: 24px;

    input {
        position: absolute;
        opacity: 0;
        width: 0;
        height: 0;

        &:checked + .slider {
            background-color: $light-low;

            .round-thumb {
                background-color: $light-med;
            }
        }
        
        &:checked + .slider .round-thumb {
            -webkit-transform: translateX($slider-width - $thumb-diameter);
            -ms-transform: translateX($slider-width - $thumb-diameter);
            transform: translateX($slider-width - $thumb-diameter);
        }
    }

    .slider {
        overflow: hidden;
        position: relative;
        cursor: pointer;
        height: 32px;
        width: $slider-width;
        padding: 0 4px;
        inset: 0;
        background-color: $dark-low;
        border-radius: 100rem;
        transition: .3s ease-in-out;
        display: flex;
        align-items: center;

        .round-thumb {
            position: absolute;
            height: $thumb-diameter;
            width: $thumb-diameter;
            background-color: $dark-med;
            border-radius: 100rem;
            transition: .3s ease-in-out;

            &::before {
                content: "";
                position: absolute;
                margin-right: -5px;
                height: 26px;
                width: 26px;
                background-image: url('../assets/sun.svg');
                right: calc(-100% + $slider-width);
            }
            
            &::after {
                content: "";
                position: absolute;
                margin-left: -5px;
                height: 26px;
                width: 26px;
                background-image: url('../assets/moon.svg');
                right: calc(100% - $slider-width);
            }
        }
    }
}

