@import './styles/variables';

*, *::before, *::after {
  font-family: 'Work Sans', sans-serif;
}

.App {
  overflow: hidden;
  position: relative;
  width: 100vw;
  background-color: $background-dark;
  color: $light-low;
  min-height: 100vh;
  height: 100%;
  display: flex;
  justify-content: center;
  transition: 
    background-color .3s ease-in-out,
    color .3s ease-in-out;

  &::before {
    $dimension: calc((100vw + 100vh) * 1.5);
    $toggle-switch-height: 32px;

    content: "";
    position: absolute;
    z-index: 0;
    transform: scale(0);
    top: calc((-1 * ($dimension / 2)) + 2.5rem + ($toggle-switch-height / 2));
    opacity: 0;
    background-color: $background-light;
    height: $dimension;
    width: $dimension;
    border-radius: $dimension;
    transition: 
      opacity .3s ease-in-out,
      transform .3s ease-in-out;
  }
  
  &.light {
    color: $dark-low;
    transition: color .3s ease-in-out;

    &::before {
      opacity: 1;
      transform: scale(1);
    }
  }

  #ribbon, 
  .main-container,
  .keypad-wrapper {
    z-index: 1;
  }

  #ribbon {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    height: 15rem;
    width: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
    
    h3 {
      position: absolute;
      transform: rotate(-45deg) translate(0, -4.5rem);
      width: 100vw;
      background-color: $accent-grey;
      color: $accent-tangerine;
      text-align: center;
      padding: .5em 0;
    }
  }

  .main-container {
    $padding: 2.5rem;

    width: min(100%, 23.4rem);
    padding: $padding;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    .theme-switch {
      flex: 1;
    }

    .calculation-wrapper {
      width: 100%;
      margin-bottom: 1.4rem;

      h1, h2 {
        margin: 0;
        font-weight: 300;
      }

      .operation {
        opacity: .4;
        font-size: 2.5rem;
        text-align: right;
      }

      .result {
        text-align: right;
        font-size: 6rem;
      }
    }

    .keypad-wrapper {
      display: grid;
      grid-template-columns: repeat(4, 5rem);
      grid-template-rows: repeat(5, 5rem);
      gap: 1rem;
    }
  }
}
